@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
:root {
  --color-primario: #cb1b28;
  --color-primario-oscuro: #a71720;
  --color-secundario: #fff;
  --color-tercero: #2b2b2b;
  --color-tercero-oscuro: #202020;
  --color-bg: #1a1a1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish";
}

html {
  background: var(--color-bg);
}

body {
  background: var(--color-bg);
}
body header {
  width: 100%;
  height: 50px;
}
body header nav {
  width: 60%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto;
}
body header nav a img {
  width: 25px;
  transition: 0.4s;
}
body header nav a img:hover {
  width: 30px;
}
body header nav div a {
  margin-right: 20px;
}
body header nav div a:last-of-type {
  margin: 0;
}
body header nav i {
  color: var(--color-secundario);
  cursor: pointer;
  transition: 0.4s;
}
body header nav i:hover {
  font-size: 20px;
}
@media (width < 640px) {
  body header nav {
    width: 80%;
  }
}
body .div_hero {
  width: 60%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px solid var(--color-primario);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow-x: auto;
  text-align: left;
}
body .div_hero img {
  height: 400px;
}
body .div_hero div {
  width: 50%;
}
body .div_hero div h1 {
  color: var(--color-secundario);
  transition: 0.4s;
}
body .div_hero div h1:hover {
  font-size: 35px;
}
body .div_hero div p {
  margin: 20px 0;
  color: var(--color-secundario);
}
body .div_hero div button {
  padding: 15px 30px;
  background: var(--color-primario);
  border: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}
body .div_hero div button:hover {
  background: var(--color-primario-oscuro);
}
@media (width < 640px) {
  body .div_hero {
    width: 80%;
    display: block;
    text-align: center;
  }
  body .div_hero div {
    width: 100%;
    margin-bottom: 15px;
  }
}
body h2 {
  color: var(--color-secundario);
  text-align: center;
  font-size: 25px;
  transition: 0.4s;
}
body h2:hover {
  font-size: 27px;
}
body .div_proyectos {
  width: 60%;
  max-width: 1280px;
  margin: 0 auto;
  overflow-x: auto;
  padding: 20px;
}
body .div_proyectos .cont_proyectos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
body .div_proyectos .cont_proyectos .div_proyecto {
  width: 47%;
  overflow-x: auto;
}
body .div_proyectos .cont_proyectos .div_proyecto .div_img_proyecto {
  width: 100%;
  padding: 20px 0;
  background: var(--color-tercero);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}
body .div_proyectos .cont_proyectos .div_proyecto .div_img_proyecto img {
  width: 80%;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.4s;
}
body .div_proyectos .cont_proyectos .div_proyecto .div_img_proyecto img:hover {
  width: 85%;
}
body .div_proyectos .cont_proyectos .div_proyecto h3 {
  color: var(--color-secundario);
  margin: 10px 0;
  transition: 0.4s;
  font-size: 18px;
}
body .div_proyectos .cont_proyectos .div_proyecto h3:hover {
  font-size: 20px;
}
body .div_proyectos .cont_proyectos .div_proyecto a {
  text-decoration: none;
}
body .div_proyectos .cont_proyectos .div_proyecto a p {
  color: var(--color-primario);
  font-weight: bold;
  transition: 0.4s;
}
body .div_proyectos .cont_proyectos .div_proyecto a p:hover {
  font-size: 17px;
}
@media (width < 640px) {
  body .div_proyectos {
    width: 80%;
  }
  body .div_proyectos .cont_proyectos {
    display: block;
  }
  body .div_proyectos .cont_proyectos .div_proyecto {
    width: 100%;
    margin-top: 25px;
  }
}
body section.education {
  width: 60%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 20px auto;
  overflow-x: auto;
}
body section.education .div_cont_accordion {
  margin-top: 25px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
body section.education .div_cont_accordion .div_accordion_item {
  width: 47%;
  height: auto;
}
body section.education .div_cont_accordion .div_accordion_item .div_accordion_head {
  width: 100%;
  background: var(--color-tercero);
  cursor: pointer;
  text-align: center;
  padding: 10px 0;
  border-radius: 10px;
  overflow-x: auto;
}
body section.education .div_cont_accordion .div_accordion_item .div_accordion_head img {
  height: 50px;
}
body section.education .div_cont_accordion .div_accordion_item .div_accordion_head.open {
  border-radius: 10px 10px 0 0;
}
body section.education .div_cont_accordion .div_accordion_item .div_accordion_head:hover {
  background: var(--color-tercero-oscuro);
}
body section.education .div_cont_accordion .div_accordion_item .div_accordion_content {
  width: 100%;
  display: none;
  padding: 10px;
  border: 3px solid var(--color-tercero);
  overflow-x: auto;
}
body section.education .div_cont_accordion .div_accordion_item .div_accordion_content .div_flex {
  display: flex;
  justify-content: space-between;
}
body section.education .div_cont_accordion .div_accordion_item .div_accordion_content .div_flex p {
  color: var(--color-primario);
  font-weight: bold;
}
body section.education .div_cont_accordion .div_accordion_item .div_accordion_content .div_flex p:last-of-type {
  text-align: right;
  color: var(--color-secundario);
}
body section.education .div_cont_accordion .div_accordion_item:last-of-type {
  margin: 0;
}
@media (width < 640px) {
  body section.education {
    width: 80%;
  }
  body section.education .div_cont_accordion {
    display: block;
  }
  body section.education .div_cont_accordion .div_accordion_item {
    width: 100%;
    margin-bottom: 15px;
  }
  body section.education .div_cont_accordion .div_accordion_item .div_accordion_content .div_flex {
    display: block;
  }
  body section.education .div_cont_accordion .div_accordion_item .div_accordion_content .div_flex p {
    text-align: center !important;
  }
}
body footer#main_footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-tercero);
  padding: 50px 0;
  overflow-x: auto;
}
body footer#main_footer p {
  color: var(--color-secundario);
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */